<!--  Страница добавления вопроса -->
{% extends 'bases/baseLogout.html' %} <!-- показывает откуда наследуемся -->
{% load static %}
{% block title %}Список заказов{% endblock %}

{% block content %}

<div class="ask-new-question">
    <h1>New question</h1>
</div>

<div class="row">
    <div class="col-2">
        <div class="ask-titles-title">Title</div>
        <div class="ask-titles-text">Text</div>
        <div class="ask-titles-tags">Tags</div>
    </div>
    <div class="col-10">
        <textarea class="form-control signup-text ask ask-text" rows="1"
            placeholder="How can I efficiently handle large datasets in Python using pandas?"></textarea>
        <textarea class="form-control signup-text ask ask-text" rows="1"
            placeholder="I am currently working on a project that involves processing large datasets in Python using the pandas library. As the dataset size increases, I've noticed a significant slowdown in performance. I want to optimize my code to handle large datasets more efficiently. Are there any best practices or specific techniques I can employ to enhance the performance of pandas when dealing with large amounts of data? Additionally, I would appreciate any recommendations for alternative libraries or approaches that are well-suited for handling large datasets in Python."
            style="height:300px;"></textarea>
        <textarea class="form-control signup-text ask ask-text" rows="1"
            placeholder="python, pandas, data-processing, performance-optimization, large-datasets"></textarea>

        <div class=" ask-button">
            <button>ASK!</button>
        </div>

    </div>
</div>



{% endblock %}