{% extends 'layout/base.html' %} <!-- показывает откуда наследуемся -->
{% load static %}

{% block content %}

<div class="question-a-h">
    <h1>Hot questions</h1>
</div>
<div>
    {% for question in questions %}

    {% include 'components/question-item.html'%}

    {% endfor %}
    <ul class="pagination">
        {% for page_num in questions.paginator.page_range %}
        <li class="{% if page_num == questions.number %}active{% endif %}">
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}