{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <link href="../static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <meta charset="utf-8">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary"> <!-- отвечает за отображение nav bar -->
        <div class="container-fluid"> <!-- отвечает за контейнер внутри nav bar -->
            <img src="../static/images/stackoverflowIcon.png" alt="stackoverflowIcon" class="navbarImage">
            <h3 class="">MyStackoverflow</h3>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">ASK</button>
            </form>

            <div class="d-flex align-items-center">


                <div class="pe-5" id="navbarSupportedContent">

                    <p><a class="link-opacity-75-hover me-2" href="#">log in</a>
                        <a class="link-opacity-75-hover" href="#">register</a>
                    </p>
                </div>
            </div>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-9">
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-3">
                <div class="mt-4"></div>

                <h2> Popular Tags </h2>
                <span class="badge bg-primary  me-2 ">perl</span>
                <span class="badge bg-secondary  me-2 ">python</span>
                <span class="badge bg-success">techopark</span>
                <br>
                <span class="badge bg-danger me-3">mySQL</span>
                <span class="badge bg-dark">django</span>
                <br>
                <span class="badge bg-success ">Mail.ru</span>
                <span class="badge bg-danger me-2 ">Voloshin</span>
                <span class="badge bg-primary">FireFox</span>
                <div class="mt-4"></div>
                <h2> Best Members </h2>
                <p>
                    <a class="link-opacity-75-hover" href="#">Mr. Freeman</a>
                    <br>
                    <a class="link-opacity-75-hover" href="#">Mr. Freeman</a>
                    <br>
                    <a class="link-opacity-75-hover" href="#">Mr. Freeman</a>
                    <br>
                    <a class="link-opacity-75-hover" href="#">Mr. Freeman</a>
                    <br>
                    <a class="link-opacity-75-hover" href="#">Mr. Freeman</a>
                </p>
            </div>
        </div>
    </div>
    <script>src = "../static/js/bootstrap.js/"</script>
</body>

</html>