{% extends 'layout/base.html' %} <!-- показывает откуда наследуемся -->
{% load static %}

{% block content %}

<h1>Registration</h1>
<p class="error-text">Sorry, the email adress already registred!</p>
<div class="row">
    <div class settings-margin>
        <div class="col-md-7">

            <div class="signup-titles-login">Login</div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="dr_pepper" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" maxlength="30">
            </div>
            <div class="signup-titles-Email">Email</div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="dr_pepper@mail.ru"
                    aria-label="Recipient's username" aria-describedby="basic-addon2" maxlength="50">
            </div>

            <div class="signup-titles-NickName">NickName</div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Dr____pepper" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" maxlength="50">
            </div>
            <div class="signup-titles-password">Password</div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="*********" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" maxlength="50">
            </div>
            <div class="signup-titles-password">Repeat Password</div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="*********" aria-label="Recipient's username"
                    aria-describedby="basic-addon2" maxlength="50">
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Upload avatar</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
        <button class="settings-btn" id="saveButton">Save</button>
    </div>
</div>
{% endblock %}