{% extends 'layout/base.html' %} <!-- показывает откуда наследуемся -->
{% load static %}

{% block content %}

<h1>Settings: Dr. Pepper</h1>
<p class="error-text">Sorry, the email adress already registred!</p>
<div class="row">
    <div class="col-3">
        <div class="col-4">
            <div class="settings-titles-Login">Login</div>
            <div class="settings-titles-Email">Email</div>
            <div class="settings-titles-NickName">NickName</div>
            <div class="settings-titles-avatar">Upload avatar</div>
        </div>
    </div>
    <div class="col-7">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="dr_pepper" aria-label="Recipient's username"
                aria-describedby="basic-addon2" maxlength="50">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="dr_pepper@mail.ru" aria-label="Recipient's username"
                aria-describedby="basic-addon2" maxlength="50">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="DR___pepper" aria-label="Recipient's username"
                aria-describedby="basic-addon2" maxlength="50">
        </div>

        <img src="{% static '/images/smile.jpeg'%}" alt="smileImage" class="settings-image">

        <div class="mb-3">
            <input class="form-control" type="file" id="formFile">
        </div>

        <button class="settings-btn settings-save" id="saveButton" style="margin-left: 0;">Save</button>
    </div>

</div>
{% endblock %}