{% extends 'layout/base.html' %} <!-- показывает откуда наследуемся -->
{% load static %}

{% block content %}

<div class="mytag-a-h">
    <div class="mytagh1">
        <h1>Tag:</h1>
    </div>
    <div class="mytagh2">
        <h2>{{ tag.name }}</h2>
    </div>
</div>

<div>
    {% for question in questions %}
    {% if tag.name in question.tags %}
    {% include 'components/question-item.html' %}
    {% endif %}
    {% endfor %}

    <ul class="pagination">
        {% for page_num in questions.paginator.page_range %}
        <li class="{% if page_num == questions.number %}active{% endif %}">
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endfor %}
    </ul>


</div>

{% endblock %}