{% load static %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    <link href="{% static '/css/bootstrap/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static '/css/main.css'%}" rel="stylesheet">
    <meta charset="utf-8">
</head>

<body>
    {% include 'components/navbar.html'%}
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-3">
                <div class="mt-4"></div>

                <h2> Popular Tags </h2>



                {% for tag in POPULAR_TAGS %}
                <a href="{% url 'tag' tag %}" class="badge bg-dark">{{ tag }}</a>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <br>
                {% endif %}
                {% endfor %}


                <div class="mt-4"></div>
                <h2> Best Members </h2>

                <p>
                <h5>Mr. Freeman</h5>
                <h5>V. Pupkin</h5>
                <h5>Ivanov</h5>
                <!-- {% for member in BEST_MEMBERS %}
                <a href="" class="link-opacity-75-hover">{{ member.name }}</a>
                {% if not forloop.last %}
                <br>
                {% endif %}
                {% endfor %}
                </p> -->

            </div>
        </div>
    </div>
    <script>src = "{%static '/js/bootstrap.js/'%}"</script>
</body>

</html>